---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h4>
				Welcome
			</h4>
			<p>
				||
			</p>
			<h5>Development:</h5>
			<p>
				I've been a developer for more than ten years.
			</p>
			<p>
				Originally starting out with Android applications developing on API levels 17-23 2014-2016
				<h6>
					Developing...
				</h6>
				<ul>
					<li>
						Games
					</li>
					<li>
						Password Manager
					</li>
					<li>
						Retail applications
					</li>
					<li>
						Child proofing application
					</li>
				</ul>
			</p>
			<br/>
			<p>
				Then moved onto website development 2016-2018
				<h6>
					Developing...
				</h6>
				<ul>
					<li>
						Haunted locations - using basic HTML, CSS, Bootstrap, and Javascript with a Django backend
					</li>
					<li>
						Gym competition social media app - using basic HTML, CSS, Bootstrap, and Javascript with a Ruby on Rails backend
					</li>
					<li>
						Alcohols from around the world blog - using HTML, CSS, Bootstrap, and Javascript with a C# backend
					</li>
				</ul>
			</p>
			<br/>
			<p>
				Then started my own business - Minimum Definition Computers LLC - specializing in Machine learning and data analysis 2018-2022
				<h6>
					Worked on:
				</h6>
				<ul>
					<li>
						Stock market data predictions creating my own indicators that raised price prediction accuracy from a base of 56% to a stable high of 87%
					</li>
					<li>
						Cattle auctions raising next year prediction accuracy from 63% to 74%
					</li>					
					<li>
						Start of a video viewing platform using Just-in-time video upscaling to save on resource and data storage usage - videos would be modified and stored at a very low definition and then upscaled at a CDN to a user defined quality level.
					</li>
				</ul>
				<p>
					Unfortunately covid knocked the business around enough that I needed to look elsewhere
				</p>
			</p>
			<br/>
			<p>
				Coming back to development after a few years away 2025-present
				<h6>
					Currently working on:
				</h6>
				<ul>
					<li>
						An alternative to Wikipedia where users can fork articles and maintain their own version - using Flutter for the frontend and Nim lang for the backend
					</li>
					<li>
						A new search engine offering where users can vote on the relevance of websites to the search and add their own to the results list - using Flutter for the frontend and Nim lang for the backend
					</li>
					<li>
						An alternative to Git focused on treating individual files as objects as opposed to the whole repo as one object to better suit large repos - made using Nim lang
					</li>
					<li>
						A desktop application for NoCode sql database querying - built using Flutter
					</li>
					<li>
						A desktop application for reference images - built using Flutter
					</li>
					<li>
						This blog - made with Astro
					</li>
				</ul>
			</p>
			<p>
				||
			</p>
			<h5>IT:</h5>
			<!-- <h1>🧑‍🚀 Hello, Astronaut!</h1> -->
			<!-- <p>
				Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This template
				serves as a lightweight, minimally-styled starting point for anyone looking to build a personal
				website, blog, or portfolio with Astro.
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to
				<a href="https://docs.astro.build/">read the docs</a>
				or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p> -->
		</main>
		<Footer />
	</body>
</html>
